.container--wrapper{
  width:100vw;
  display: flex;
}

.container--map{
  position: fixed;
  width:60%;
  height:100vh;
  top:0;
  right:0;
  overflow: scroll;
}
.container--sidebar{
  width:40%;
  left:0;
  position: fixed;
  background-color: #000;
}

.container--filter{
  position: fixed;
  top:0;
  left:0;
  width: 200px;
}