

.wrapperSvg{
  //width:100vw;
  //height:100vh;
  overflow:scroll;
  svg{
    position: relative;
    transition:all 1s;
    
  }
  &.sued svg{
    //transform:scale(1.5) translateY(-25%) ;
    width:150%;
    top:-60%;
    left:50%;
  }
  &.nord svg{
    //transform:scale(1.5) translateY(25%) ;
    width:150%;
    top:0%;
  }
    &.west svg{
    //transform: scale(1.5) translateX(25%);
    width:150%;
    left:-60%;
  }
  &.ost svg{
    width:150%;
    left:0;
    //transform:scale(1.5) translateX(-25%);
    
  }
  &.center svg{
    //transform:scale(1) translateX(0) ;
    width:100%;
  }
}

svg{
  width:100%;
  height:auto;
  user-select:none;
  .linie{fill:none;stroke-width:6px;stroke-miterlimit:10;stroke:#1d1d1b}
  circle{fill:#fff;stroke:#1d1d1b;stroke-width:2px;transition:all 0.1s}
  
  .siteOlympique{
    position: relative;
    animation:siteAnimation 0.5s infinite alternate;
    @keyframes siteAnimation{
      0%{fill:#fff;;}
      100%{fill:black;}
    }
  }
  .hoverLine{
    stroke:#fff;
  }
  .selectedSite{
    fill:#fff;
  }
}


.zoom{
  position: fixed;
  bottom:2vh;
  z-index: 10;
  left:2vw;
  background-color: #fff;
  width:30px;
  height:30px;
  border-radius:5px;
  background-image:url("https://imageog.flaticon.com/icons/png/512/49/49116.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF");
  background-size:100%;
  background-repeat:no-repeat;
  background-position:center;
}

/*the container must be positioned relative:*/

.parking{
  fill:red;
}


.container--map{
  //position: relative;
  .wrapperSvg{
    width:100%;
  }
  svg{
    position: absolute;
    width:100%;
    pointer-events: none;

    circle{
      pointer-events: auto !important;
      &:hover{
        fill: blue !important;
      }
    }
    
  }
}

.map--bgImage{
  width: 97%;
  padding-left: 13%;
  padding-top: 5%;
}

.filter--zoom{
  position: fixed;
  bottom:0;
  right:0;
  z-index: 10;
  button{
    background: #fff;
  }
}


.zoomWrapper{
  width:100%;
  position: relative;
}



.rer--wrapper{
  display: flex;
  border:solid 1px grey;
  border-radius: 10;
}



